<%- include('../components/head.ejs') %>
<div class="center">
  <div class="w3-row w3-padding-64">
      <h1 class="w3-text-teal">Página não encontrada...</h1>
      <% if(locals.url) { %>  
        <p>Você digitou o seguinte endereço: <%= url %>  </p>
      <%} %>
  </div>
</div>
<%- include('../components/footer.ejs') %>