<%- include('../components/head.ejs') %>
<div class="center">
  <div class="w3-row w3-padding-64">
      <h1 class="w3-text-teal">Login ou senha incorretos!</h1>
      <h1 class="w3-text-teal">Volte e tente novamente...</h1>
      <br>
      <button onclick="location.href='/'">
        Voltar
      </button>
  </div>
</div>
<%- include('../components/footer.ejs') %>